<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css">
    <title>Winterhost</title>
</head>
<body>
    <%- include('partials/navbar', { user: null }) %>
    <div class="container">
        <div class="upload-container">
            <h1>Login with Discord</h1>
            <a href="/auth/discord"><button>Login with Discord</button></a>
        </div>
    </div>
</body>
</html>

